<a href="https://colab.research.google.com/github/Anoshawott/cinnabar-island/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning - Investigating Measures of Health and Economic Freedom as Determinants in Socioeconomic Performance of the G20 Nations
## By Anosh.S
## ***Initial Data Transformation & Cleaning***
Preparing the data for optimal analysis requires the initiation of appropriate data cleaning tools. A number of
diagnostics were used to understand the data. It is important to note that all data cleaning activities and
numerical summaries were completed within the Google Colab python notebook environment so certain
functions may refer specifically to its use exclusive to the environment only.
Loading the datasets was achieved through direct sourcing of them from kaggle using their api. This meant
in order to access the data an api token was required and hence the use of the files.upload() function
under the google.colab package.

In [0]:
''' PLEASE READ AND DO NOT TOUCH! - This loads all the datasets directly from 
Kaggle without having to download anything. ALSO, when it asks to upload a file 
this is asking for authentication of your Kaggle API. Just look up how to get 
that it's really just requires you to check in your account profile that you have
made on Kaggle.
'''
from google.colab import files
files.upload()
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
# Life Span and other health indicators
!kaggle datasets download -d kumarajarshi/life-expectancy-who
# Socioeconomic data
!kaggle datasets download -d sdorius/globses
# Measures relating to economic freedom - measures the degree to which the policies and institutions of countries are supportive of economic freedom
!kaggle datasets download -d gsutters/economic-freedom

Saving kaggle.json to kaggle.json
Downloading life-expectancy-who.zip to /content
  0% 0.00/119k [00:00<?, ?B/s]
100% 119k/119k [00:00<00:00, 36.8MB/s]
Downloading globses.zip to /content
  0% 0.00/41.8k [00:00<?, ?B/s]
100% 41.8k/41.8k [00:00<00:00, 35.3MB/s]
Downloading economic-freedom.zip to /content
  0% 0.00/403k [00:00<?, ?B/s]
100% 403k/403k [00:00<00:00, 59.8MB/s]

Following the loading of datasets, relevant packages were then imported , these included the pandas, os and
numpy packages.

In [0]:
# Importing All the Relevant Packages
import pandas as pd
import os
import numpy as np

In [0]:
pd.set_option('display.max_rows', 2500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

To make use of the datasets the files sourced directly from kaggle needed to be unzipped, whilst its original
zip files were removed to optimise storage for the python environment.

In [0]:
# Unzipping the Datasets
if not os.path.exists('Life Expectancy Data.csv'):
  !unzip life-expectancy-who.zip
os.remove('life-expectancy-who.zip')

if not os.path.exists('GLOB.SES.csv'):
  !unzip globses.zip  
os.remove('globses.zip')

if not os.path.exists('efw_cc.csv'):
  !unzip economic-freedom.zip
os.remove('economic-freedom.zip')

Archive:  life-expectancy-who.zip
  inflating: Life Expectancy Data.csv
Archive:  globses.zip
  inflating: GLOB.SES.csv
Archive:  economic-freedom.zip
  inflating: efw_cc.csv

The csv files extracted from the zipped files were then assigned as variable data frames using the pandas
package.

In [0]:
le = pd.read_csv('Life Expectancy Data.csv')
se = pd.read_csv('GLOB.SES.csv', encoding='latin-1')
ef = pd.read_csv('efw_cc.csv')

## Life Expectancy Inital Data Analysis and Cleaning

Performing initial data analysis led to the use of various diagnostic tools which produced the following
results.

In [0]:
# Displays the first five rows of the le dataframe
le.head(5)

       Country  Year      Status  Life expectancy   Adult Mortality  infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles    BMI   under-five deaths   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population   thinness  1-19 years   thinness 5-9 years  Income composition of resources  Schooling
0  Afghanistan  2015  Developing              65.0            263.0             62     0.01               71.279624         65.0      1154   19.1                  83    6.0               8.16         65.0        0.1  584.259210  33736494.0                   17.2                 17.3                            0.479       10.1
1  Afghanistan  2014  Developing              59.9            271.0             64     0.01               73.523582         62.0       492   18.6                  86   58.0               8.18         62.0        0.1  612.696514    327582.0                   17.5                 17.5                            0.476       10.0
2  Afghanistan  2013  Developing              59.9            268.0             66     0.01               73.219243         64.0       430   18.1                  89   62.0               8.13         64.0        0.1  631.744976  31731688.0                   17.7                 17.7                            0.470        9.9
3  Afghanistan  2012  Developing              59.5            272.0             69     0.01               78.184215         67.0      2787   17.6                  93   67.0               8.52         67.0        0.1  669.959000   3696958.0                   17.9                 18.0                            0.463        9.8
4  Afghanistan  2011  Developing              59.2            275.0             71     0.01                7.097109         68.0      3013   17.2                  97   68.0               7.87         68.0        0.1   63.537231   2978599.0                   18.2                 18.2                            0.454        9.5

### Understanding Columns

Through gaining insight into the data type of each feature it allowed an understanding of whether cleaning
needs to be undertaken for specific cells. Since the data type matches the nature of each feature, that is
quantitative values being considered either of a int64 or float 64 data type and qualitative measures as object
data types, it is sensible to assume that each cell corresponds correctly to its associate feature. Recognising
the potential uniqueness of each column was an extra diagnostic to again understand the data further, where
learning from every column not being unique all the columns had values one or more values that were the
same.

In [0]:
# To understand the columns/features

# Column names
column_names = le.columns
print(column_names)

# Column data types
print(le.dtypes)

# Check if columns are unique
count = 0
for i in column_names:
  print('{} is unique: {}'.format(i, le[i].is_unique))
  if le[i].is_unique:
    count += 1
  
print('There are', count, 'unique columns i.e. one or more values under that feature are the same.')

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling'], dtype='object')
Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object
Country is unique: False
Year is unique: False
Status is unique: False
Life expectancy  is unique: False
Adult Mortality is unique: False
infant deaths is unique: False
Alcohol is unique: False
percentage expenditure is unique: False
Hepatitis B is unique: False
Measles  is unique: False
 BMI  is unique: False
under-five deaths  is unique: False
Polio is unique: False
Total expenditure is unique: False
Diphtheria  is unique: False
 HIV/AIDS is unique: False
GDP is unique: False
Population is unique: False
 thinness  1-19 years is unique: False
 thinness 5-9 years is unique: False
Income composition of resources is unique: False
Schooling is unique: False
There are 0 unique columns i.e. one or more values under that feature are the same.

The diagnostic above showing the column names was critical to seeing the addition of whitespaces in each
feature where when called by the Pandas function would give way to possible syntax errors if it had not been
considered. Thus the following deals with column name replacement removing whitespaces from the
columns names that contained them.

In [0]:
# Replacing column names with extra spaces to be more suitable
le.rename(columns={'Life expectancy ':'Life expectancy'}, inplace=True)
le.rename(columns={' BMI ':'BMI'}, inplace=True)
le.rename(columns={'Measles ':'Measles'}, inplace=True)
le.rename(columns={'under-five deaths ':'under-five deaths'}, inplace=True)
le.rename(columns={'Diphtheria ':'Diphtheria'}, inplace=True)
le.rename(columns={' thinness 5-9 years':'thinness 5-9 years'}, inplace=True)
le.rename(columns={' thinness  1-19 years':'thinness 1-19 years'}, inplace=True)
le.rename(columns={' HIV/AIDS':'HIV/AIDS'}, inplace=True)

Checking the column names had been updated they were printed again.

In [0]:
# update the columns list
column_names = le.columns
print(column_names)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness 1-19 years', 'thinness 5-9 years', 'Income composition of resources', 'Schooling'], dtype='object')

## Challenges with NaN values
The dataset containing multiple NaN values in a number of the features this prevents optimal analysis. To
overcome this we can predict their values from known features through multi-output regression - a
multiclass algorithm - and random forest regression.

A simple solution (below) is to replace the NaN values with medians, however this limits the accuracy
unlike using the prediction method above.

For simplicity's sake we'll apply the simple solution.

Below is a simple diagnostic to see the number of NaN values that are present.

In [0]:
# Finding the count of NaN values in each column
le.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness 1-19 years                 34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

The median_replacement function above loops through the country list only completing median replacement
for columns and countries where there is more than 0 NaN values. To ensure the most optimal median
replacement only medians are inputted based on previous historical data being present on each country.
Hence this is accounted by the variable, sel. As each sel segment for each country has its median replaced
the new section is then updated to the main le dataframe.
co =

In [0]:
co = le.Country.unique()
dfle = pd.read_csv('Life Expectancy Data.csv')

# Replacing column names with extra spaces to be more suitable - so that the function is consistent when making references to both dfle and le
dfle.rename(columns={'Life expectancy ':'Life expectancy'}, inplace=True)
dfle.rename(columns={' BMI ':'BMI'}, inplace=True)
dfle.rename(columns={'Measles ':'Measles'}, inplace=True)
dfle.rename(columns={'under-five deaths ':'under-five deaths'}, inplace=True)
dfle.rename(columns={'Diphtheria ':'Diphtheria'}, inplace=True)
dfle.rename(columns={' thinness 5-9 years':'thinness 5-9 years'}, inplace=True)
dfle.rename(columns={' thinness  1-19 years':'thinness 1-19 years'}, inplace=True)
dfle.rename(columns={' HIV/AIDS':'HIV/AIDS'}, inplace=True)

def median_replacement(col):
  for i in co:
    k = str(i)
    sel = dfle.loc[dfle['Country'] == k]
    if (len(dfle) - dfle[col].count()) > 0:
      array = sel[sel[col]!=np.nan][col]
      a = array.dropna(axis = 0, how = 'any')
      b = sel[col].replace(np.nan,array.median())
      le.update(b)
  return

Recognising the first columns of the le dataframe are object data types a custom list of the columns was
produced so that it could be looped through for use of the median replacement function as shown below.

In [0]:
# Using the median replacement function across all columns
cn = []
count = 0
for i in column_names:
  if count >= 3:
    cn.append(i)
  count += 1

for i in cn:
  median_replacement(i)

The following were diagnostic tools to understand whether the median replacement function was effective at
achieving its purpose.

In [0]:
# Checking fof NaN values in a specified column with respect to different countries that contain them
#column = input('Which column would you like to see if any NaN values exist: ')
#cs = str(column)
#if column in cn:
  #for i in co:
    #k = str(i)
    #sel = le.loc[le['Country'] == k]
    #selc = sel[['Country', column]]
    #if selc.isnull().values.any():
      #print(selc)
#else:
  #print('Column does not exist in the dataset.')

In [0]:
# Checking the new changes median replacement values with respect to each country
#i = input('Which country would you like view values for?: ')
#k = str(i)
#sel = le.loc[le['Country'] == k]
#sel

Since not all countries had historic data on every variable the following code considers those countries and
removes them as no valuable insights can be drawn from them. Although some countries are disregarded
from the dataset, it was considered that it would distort numerical summaries if kept and substituted with a
value of 0. Moreover, only countries in which it retained data for all 15 years were kept so that every
country can be compared appropriately; achieved using the for loop below. Finally, a diagnostic to check if
any NaN values is conducted at the end.

In [0]:
# First dropping rows in which any NaN values exist so to prevent distortion with data analysis
le = le.dropna(axis = "rows")
# Only selecting countries in which all the data is present across the 15 year period
for i in co:
    k = str(i)
    sel = le.loc[le['Country'] == k]
    if len(sel) < 16 and len(sel) == 1:
      le.drop(sel, axis = 1)
# Finding the count of NaN values in each column AFTER REPLACEMENT
le.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness 1-19 years                0
thinness 5-9 years                 0
Income composition of resources    0
Schooling                          0
dtype: int64

In [0]:
#le

In [0]:
# Checking newly updated data of a specific row index
#a = input('Display the row of the selected index: ')
#c = int(a) - 1
#b =  le.loc[[int(c)]]
#print(b)

In [0]:
# Drafted functions

#def median_replacement(col):
  #for i in co:
    #k = str(i)
    #sel = dfle.loc[dfle['Country'] == k]
    #if len(sel) == 1:
      #b = sel[col].replace(np.nan, 0)
      #le.update(b)
    #elif (len(dfle) - dfle[col].count()) > 0:
      #array = sel[sel[col]!=np.nan][col]
      #a = array.dropna(axis = 0, how = 'any')
      #b = sel[col].replace(np.nan,array.median())
      #le.update(b)
  #return

#def median_replacement2(col):
  #for i in co:
    #k = str(i)
    #sel = dfle.loc[dfle['Country'] == k]
    #if (len(dfle) - dfle[col].count()) > 0:
        #array = le[le[col]!=np.nan][col]
        #a = array.dropna(axis = 0, how = 'any')
        #b = le[col].replace(np.nan,array.median())
    #return le.update(b)

#def median_replacement1(col):
  #if (len(df) - df[col].count()) <= 400000:
    #array = data[data[col]!=np.nan][col]
    #a = array.dropna(axis = 0, how = 'any')
    #b = data[col].replace(np.nan,array.median())
    #return data.update(b)

This above data cleaning process was repeated again for the other two datasets with their reference variables
changed accordingly. The same diagnostics and cleaning tools were initialised for them.

## Socioeconomic Measures - Inital Data Analysis and Cleaning

In [0]:
se.head(5)

   unid wbid      country  year        SES      gdppc  yrseduc  popshare
0     4  AFG  Afghanistan  1970   3.474212  709.00000      NaN  0.003097
1     4  AFG  Afghanistan  1920  26.968016  731.75677      NaN  0.003245
2     4  AFG  Afghanistan  1990   1.269530  604.00000      NaN  0.002347
3     4  AFG  Afghanistan  1960  15.763076  739.00000      NaN  0.003039
4     4  AFG  Afghanistan  2000   2.061114  565.00000      NaN  0.003309

### Understanding Columns

In [0]:
# Column names
column_names_se = se.columns
print(column_names_se)

# Column data types
print(se.dtypes)

# Check if columns are unique
count = 0
for i in column_names_se:
  print('{} is unique: {}'.format(i, se[i].is_unique))
  if se[i].is_unique:
    count += 1
  
print('There are', count, 'unique columns i.e. one or more values under that feature are the same.')

Index(['unid', 'wbid', 'country', 'year', 'SES', 'gdppc', 'yrseduc', 'popshare'], dtype='object')
unid          int64
wbid         object
country      object
year          int64
SES         float64
gdppc       float64
yrseduc     float64
popshare    float64
dtype: object
unid is unique: False
wbid is unique: False
country is unique: False
year is unique: False
SES is unique: False
gdppc is unique: False
yrseduc is unique: False
popshare is unique: True
There are 1 unique columns i.e. one or more values under that feature are the same.

### Refining via NaN replacement

In [0]:
# Finding the count of NaN values in each column
se.isnull().sum()

unid           0
wbid           0
country        0
year           0
SES            0
gdppc          0
yrseduc     1050
popshare       0
dtype: int64

In [0]:
co_se = se.country.unique()
dfse = pd.read_csv('GLOB.SES.csv', encoding='latin-1')

def median_replacement_se(col):
  for i in co_se:
    k = str(i)
    sel = dfse.loc[dfse['country'] == k]
    if (len(dfse) - dfse[col].count()) > 0:
      array = sel[sel[col]!=np.nan][col]
      b = sel[col].replace(np.nan,array.median())
      se.update(b)
  return

In [0]:
# Using the median replacement function across all columns
cn_se = []
count_se = 0
for i in column_names_se:
  if count_se >= 3:
    cn_se.append(i)
  count_se += 1

for i in cn_se:
  median_replacement_se(i)

In [0]:
# Finding the count of NaN values in each column AFTER MEDIAN REPLACEMENT
se.isnull().sum()

unid           0
wbid           0
country        0
year           0
SES            0
gdppc          0
yrseduc     1050
popshare       0
dtype: int64

In [0]:
# First dropping rows in which any NaN values exist so to prevent distortion with data analysis
se = se.dropna(axis = "rows")
# Only selecting countries in which all the data is present across the 15 year period
for i in co_se:
    k = str(i)
    sel = se.loc[se['country'] == k]
    if len(sel) < 14:
      se.drop(sel, axis = 1)
# Finding the count of NaN values in each column AFTER REPLACEMENT
se.isnull().sum()

unid        0
wbid        0
country     0
year        0
SES         0
gdppc       0
yrseduc     0
popshare    0
dtype: int64

In [0]:
#se

## Measures Relating to Economic Freedom - Inital Data Analysis and Cleaning

In [0]:
ef.head(5)

   year ISO_code  countries  ECONOMIC FREEDOM   rank  quartile  1a_government_consumption  1b_transfers  1c_gov_enterprises  1d_top_marg_tax_rate  1_size_government  2a_judicial_independence  2b_impartial_courts  2c_protection_property_rights  2d_military_interference  2e_integrity_legal_system  2f_legal_enforcement_contracts  2g_restrictions_sale_real_property  2h_reliability_police  2i_business_costs_crime  2j_gender_adjustment  2_property_rights  3a_money_growth  3b_std_inflation  3c_inflation  3d_freedom_own_foreign_currency  3_sound_money  4a_tariffs  4b_regulatory_trade_barriers  4c_black_market  4d_control_movement_capital_ppl   4_trade  5a_credit_market_reg  5b_labor_market_reg  5c_business_reg  5_regulation
0  2016      ALB    Albania              7.54   34.0       1.0                   8.232353      7.509902                 8.0                   8.0           7.935564                  2.668222             3.145462                       4.512228                  8.333333                   4.166667                        4.387444                            6.485287               6.933500                 6.215401              0.948718           5.071814         8.986454          9.484575       9.74360                             10.0       9.553657    8.963556                      7.489905         10.00000                         6.406138  8.214900              7.098562             6.916278         6.705863      6.906901
1  2016      DZA    Algeria              4.99  159.0       4.0                   2.150000      7.817129                 0.0                   4.5           3.616782                  4.186704             4.327113                       4.689952                  4.166667                   5.000000                        4.507538                            6.626692               6.136845                 6.737383              0.820513           4.690743         6.955962          8.339152       8.72046                              5.0       7.253894    6.872533                      2.481294          5.56391                         1.590362  4.127025              5.100509             5.029513         5.676956      5.268992
2  2016      AGO     Angola              5.17  155.0       4.0                   7.600000      8.886739                 0.0                   9.5           6.496685                  1.843129             1.974566                       2.512364                  3.333333                   4.166667                        2.302200                            5.455882               3.016104                 4.291197              0.846154           2.963635         9.385679          4.986742       3.05400                              5.0       5.606605    6.989244                      2.024949         10.00000                         2.044823  5.264754              7.064905             4.560325         4.930271      5.518500
3  2016      ARG  Argentina              4.84  160.0       4.0                   5.335294      6.048930                 6.0                   4.0           5.346056                  3.689690             2.930563                       4.255995                  7.500000                   3.333333                        3.632872                            6.857195               3.385786                 4.133832              0.769231           3.904030         5.233264          5.224079       2.00000                             10.0       5.614336    6.421600                      4.811105          0.00000                         4.697482  3.982547              5.419820             5.151405         5.535831      5.369019
4  2016      ARM    Armenia              7.57   29.0       1.0                   7.264706      7.748532                 8.0                   5.0           7.003310                  3.867379             4.197569                       5.664317                  5.833333                   5.000000                        5.196693                            9.801963               5.714028                 7.007654              1.000000           5.809215         9.078264          9.263496       9.74600                             10.0       9.521940    8.547556                      7.194410         10.00000                         6.830998  8.143241              9.102046             6.234630         6.797530      7.378069

In [0]:
# Column names
column_names_ef = ef.columns
print(column_names_ef)

# Column data types
print(ef.dtypes)

# Check if columns are unique
count = 0
for i in column_names_ef:
  print('{} is unique: {}'.format(i, ef[i].is_unique))
  if ef[i].is_unique:
    count += 1
  
print('There are', count, 'unique columns i.e. one or more values under that feature are the same.')

Index(['year', 'ISO_code', 'countries', 'ECONOMIC FREEDOM', 'rank', 'quartile', '1a_government_consumption', '1b_transfers', '1c_gov_enterprises', '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence', '2b_impartial_courts', '2c_protection_property_rights', '2d_military_interference', '2e_integrity_legal_system', '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property', '2h_reliability_police', '2i_business_costs_crime', '2j_gender_adjustment', '2_property_rights', '3a_money_growth', '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency', '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers', '4c_black_market', '4d_control_movement_capital_ppl', '4_trade', '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg', '5_regulation'], dtype='object')
year                                    int64
ISO_code                               object
countries                              object
ECONOMIC FREEDOM                      float64
rank                                  float64
quartile                              float64
1a_government_consumption             float64
1b_transfers                          float64
1c_gov_enterprises                    float64
1d_top_marg_tax_rate                  float64
1_size_government                     float64
2a_judicial_independence              float64
2b_impartial_courts                   float64
2c_protection_property_rights         float64
2d_military_interference              float64
2e_integrity_legal_system             float64
2f_legal_enforcement_contracts        float64
2g_restrictions_sale_real_property    float64
2h_reliability_police                 float64
2i_business_costs_crime               float64
2j_gender_adjustment                  float64
2_property_rights                     float64
3a_money_growth                       float64
3b_std_inflation                      float64
3c_inflation                          float64
3d_freedom_own_foreign_currency       float64
3_sound_money                         float64
4a_tariffs                            float64
4b_regulatory_trade_barriers          float64
4c_black_market                       float64
4d_control_movement_capital_ppl       float64
4_trade                               float64
5a_credit_market_reg                  float64
5b_labor_market_reg                   float64
5c_business_reg                       float64
5_regulation                          float64
dtype: object
year is unique: False
ISO_code is unique: False
countries is unique: False
ECONOMIC FREEDOM is unique: False
rank is unique: False
quartile is unique: False
1a_government_consumption is unique: False
1b_transfers is unique: False
1c_gov_enterprises is unique: False
1d_top_marg_tax_rate is unique: False
1_size_government is unique: False
2a_judicial_independence is unique: False
2b_impartial_courts is unique: False
2c_protection_property_rights is unique: False
2d_military_interference is unique: False
2e_integrity_legal_system is unique: False
2f_legal_enforcement_contracts is unique: False
2g_restrictions_sale_real_property is unique: False
2h_reliability_police is unique: False
2i_business_costs_crime is unique: False
2j_gender_adjustment is unique: False
2_property_rights is unique: False
3a_money_growth is unique: False
3b_std_inflation is unique: False
3c_inflation is unique: False
3d_freedom_own_foreign_currency is unique: False
3_sound_money is unique: False
4a_tariffs is unique: False
4b_regulatory_trade_barriers is unique: False
4c_black_market is unique: False
4d_control_movement_capital_ppl is unique: False
4_trade is unique: False
5a_credit_market_reg is unique: False
5b_labor_market_reg is unique: False
5c_business_reg is unique: False
5_regulation is unique: False
There are 0 unique columns i.e. one or more values under that feature are the same.

### Refining via NaN replacement

In [0]:
# Finding the count of NaN values in each column
null_bef_ef = ef.isnull().sum()
null_bef_ef

year                                     0
ISO_code                                 0
countries                                0
ECONOMIC FREEDOM                       723
rank                                   723
quartile                               723
1a_government_consumption              589
1b_transfers                           960
1c_gov_enterprises                     646
1d_top_marg_tax_rate                  1047
1_size_government                      647
2a_judicial_independence              1553
2b_impartial_courts                   1179
2c_protection_property_rights         1129
2d_military_interference              1186
2e_integrity_legal_system             1153
2f_legal_enforcement_contracts        1361
2g_restrictions_sale_real_property    1384
2h_reliability_police                 2071
2i_business_costs_crime               2071
2j_gender_adjustment                    66
2_property_rights                      755
3a_money_growth                        644
3b_std_inflation                       607
3c_inflation                           607
3d_freedom_own_foreign_currency        621
3_sound_money                          611
4a_tariffs                             681
4b_regulatory_trade_barriers          1348
4c_black_market                        617
4d_control_movement_capital_ppl        592
4_trade                                691
5a_credit_market_reg                   619
5b_labor_market_reg                   1158
5c_business_reg                       1402
5_regulation                           728
dtype: int64

In [0]:
co_ef = ef.countries.unique()
dfef = pd.read_csv('efw_cc.csv')

def median_replacement_ef(col):
  for i in co_ef:
    k = str(i)
    sel = dfef.loc[dfef['countries'] == k]
    if (len(dfef) - dfef[col].count()) > 0:
      array = sel[sel[col]!=np.nan][col]
      b = sel[col].replace(np.nan,array.median())
      ef.update(b)
  return

In [0]:
# Using the median replacement function across all columns
cn_ef = []
count_ef = 0
for i in column_names_ef:
  if count_ef >= 3:
    cn_ef.append(i)
  count_ef += 1

for i in cn_ef:
  median_replacement_ef(i)

In [0]:
# Finding the count of NaN values in each column AFTER MEDIAN REPLACEMENT
null_af_ef = ef.isnull().sum()
null_af_ef

year                                    0
ISO_code                                0
countries                               0
ECONOMIC FREEDOM                        0
rank                                    0
quartile                                0
1a_government_consumption               0
1b_transfers                          253
1c_gov_enterprises                    115
1d_top_marg_tax_rate                    0
1_size_government                       0
2a_judicial_independence              115
2b_impartial_courts                     0
2c_protection_property_rights          69
2d_military_interference                0
2e_integrity_legal_system             368
2f_legal_enforcement_contracts          0
2g_restrictions_sale_real_property     23
2h_reliability_police                 115
2i_business_costs_crime               115
2j_gender_adjustment                    0
2_property_rights                       0
3a_money_growth                         0
3b_std_inflation                        0
3c_inflation                            0
3d_freedom_own_foreign_currency         0
3_sound_money                           0
4a_tariffs                             23
4b_regulatory_trade_barriers            0
4c_black_market                        23
4d_control_movement_capital_ppl         0
4_trade                                 0
5a_credit_market_reg                    0
5b_labor_market_reg                     0
5c_business_reg                         0
5_regulation                            0
dtype: int64

In [0]:
# First dropping rows in which any NaN values exist so to prevent distortion with data analysis
ef = ef.dropna(axis = "rows")
# Only selecting countries in which all the data is present across the 15 year period
for i in co_ef:
    k = str(i)
    sel = ef.loc[ef['countries'] == k]
    if len(sel) < 23:
      ef.drop(sel, axis = 1)
# Finding the count of NaN values in each column AFTER COMPLETE REPLACEMENT
ef.isnull().sum()

year                                  0
ISO_code                              0
countries                             0
ECONOMIC FREEDOM                      0
rank                                  0
quartile                              0
1a_government_consumption             0
1b_transfers                          0
1c_gov_enterprises                    0
1d_top_marg_tax_rate                  0
1_size_government                     0
2a_judicial_independence              0
2b_impartial_courts                   0
2c_protection_property_rights         0
2d_military_interference              0
2e_integrity_legal_system             0
2f_legal_enforcement_contracts        0
2g_restrictions_sale_real_property    0
2h_reliability_police                 0
2i_business_costs_crime               0
2j_gender_adjustment                  0
2_property_rights                     0
3a_money_growth                       0
3b_std_inflation                      0
3c_inflation                          0
3d_freedom_own_foreign_currency       0
3_sound_money                         0
4a_tariffs                            0
4b_regulatory_trade_barriers          0
4c_black_market                       0
4d_control_movement_capital_ppl       0
4_trade                               0
5a_credit_market_reg                  0
5b_labor_market_reg                   0
5c_business_reg                       0
5_regulation                          0
dtype: int64

## Exporting the Cleaned Datasets

Finally having cleaned all the relevant datasets the data frames had to be exported in a readable csv format
for external use outside the python environment.

In [0]:
le.to_csv('le_clean.csv', index = None, header = True)
se.to_csv('se_clean.csv', index = None, header = True)
ef.to_csv('ef_clean.csv', index = None, header = True)

## Numerical Summaries

### Understanding through Simple Analysis Measures Relating to Life Expectancy

In [0]:
print(le.groupby('Status')[['Life expectancy']].mean())

            Life expectancy
Status
Developed         78.906579
Developing        66.345230

In [0]:
z = 1
while z == 1:
  a = input('Say measures if you want to run based on specific measures say countries if you want to base on the number of countries: ')

  # Will add country specific filter later


  if a == 'countries':
    a = input('How many countries?: ')
    print(le.groupby(['Country']).mean()[custom_list].head(int(a)))
    z -= 1
  elif a == 'measures':
    custom_list = []
    count = 0
    for i in column_names:
      if count > 2:
        custom_list.append(i)
      count += 1
    b = int(input('How many measures would you like to compare?: '))
    measures = []
    while b > 0:
      print(custom_list)
      d = input('Enter measure name (select from above): ')
      measures.append(d)
      b -= 1
    print(le.groupby(['Country']).mean()[measures])
    z -= 1
  else:
    print('Please try again')

    
# Second drafted filter function
"""
z = 1
while z == 1:
  a = input('Say measures if you want to run based on specific measures say countries if you want to base on a specific country search: ')

  # Will add country specific filter later


  if a == 'countries':
    countries = []
    a = 1
    #a = int(input('How many countries?: '))
    while a > 0:
      y = input('Which countries?: ')
      #countries.append(y)
      a -= 1
    print(le.groupby(['Country']).get_group(y).mean()[custom_list].head(int(a)))
    z -= 1
  elif a == 'measures':
    custom_list = []
    count = 0
    for i in column_names:
      if count > 2:
        custom_list.append(i)
      count += 1
    b = int(input('How many measures would you like to compare?: '))
    measures = []
    while b > 0:
      print(custom_list)
      d = input('Enter measure name (select from above): ')
      measures.append(d)
      b -= 1
    print(le.groupby('Country').mean()[measures])
    z -= 1
  else:
    print('Please try again')
"""

Say measures if you want to run based on specific measures say countries if you want to base on the number of countries: measures
How many measures would you like to compare?: 3
['Life expectancy', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness 1-19 years', 'thinness 5-9 years', 'Income composition of resources', 'Schooling']
Enter measure name (select from above): Life expectancy
['Life expectancy', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness 1-19 years', 'thinness 5-9 years', 'Income composition of resources', 'Schooling']
Enter measure name (select from above): Adult Mortality
['Life expectancy', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness 1-19 years', 'thinness 5-9 years', 'Income composition of resources', 'Schooling']
Enter measure name (select from above): BMI
                          Life expectancy  Adult Mortality       BMI
Country
Afghanistan                      58.19375         269.0625  15.51875
Albania                          75.15625          45.0625  49.06875
Algeria                          73.61875         108.1875  48.74375
Angola                           49.01875         328.5625  18.01875
Argentina                        75.15625         106.0000  54.98125
Armenia                          73.40000         117.3750  44.70625
Australia                        81.81250          63.1875  55.86250
Austria                          81.48125          65.7500  48.28750
Azerbaijan                       70.73125         115.1875  43.84375
Bangladesh                       69.30000         141.3750  12.87500
Belarus                          69.90625         218.7500  54.74375
Belgium                          80.68125          70.1875  50.89375
Belize                           69.26875         155.5000  37.67500
Benin                            57.56875         269.3750  19.61250
Bhutan                           66.16250         230.2500  17.58125
Bosnia and Herzegovina           75.96875          64.9375  48.96250
Botswana                         56.05000         448.1250  32.24375
Brazil                           73.38125         150.6875  47.06250
Bulgaria                         72.85000         125.5000  54.50000
Burkina Faso                     55.64375         252.5000  15.50000
Burundi                          55.53750         291.5625  15.31250
Cabo Verde                       72.51875         116.1875  24.37500
Cambodia                         64.34375         196.3750  15.36250
Cameroon                         54.01875         294.8750  23.61875
Canada                           81.68750          64.6250  55.86250
Central African Republic         48.51250         333.0625  17.08750
Chad                             50.38750         227.7500  16.31875
Chile                            79.45000          63.6250  55.58750
China                            74.26250          73.7500  21.80625
Colombia                         73.28750         124.2500  49.54375
Comoros                          61.58125         240.9375  18.25625
Costa Rica                       78.59375          69.3750  46.72500
Croatia                          76.11875          89.0000  52.35625
Cyprus                           79.67500          54.1250  53.16250
Djibouti                         60.75625         274.6875  26.25000
Dominican Republic               72.34375         143.5000  48.14375
Ecuador                          74.72500         132.1250  43.31250
El Salvador                      71.74375         155.0625  45.32500
Equatorial Guinea                55.31250         279.3750  17.85625
Eritrea                          60.68750         308.6250  15.15625
Estonia                          74.94375         169.6875  56.68125
Ethiopia                         59.11250         285.5625  14.80000
Fiji                             68.71250         125.0000  50.56250
France                           82.21875          73.1250  51.98125
Gabon                            62.24375         220.4375  28.81875
Georgia                          73.50625         114.9375  47.74375
Germany                          81.17500          71.2500  51.99375
Ghana                            60.86250         180.0625  21.72500
Greece                           81.21875          73.6250  58.68125
Guatemala                        71.73125         131.1875  40.44375
Guinea                           56.01250         259.8750  17.46875
Guinea-Bissau                    55.36875         158.3125  19.43125
Guyana                           65.63750         203.9375  36.38125
Haiti                            59.86875         168.3125  39.27500
Honduras                         72.99375         142.0000  39.74375
India                            65.41875         146.5625  14.79375
Indonesia                        67.55625         166.5625  19.95625
Iraq                             70.35625         136.7500  48.59375
Ireland                          80.15000          72.4375  53.68750
Israel                           81.30000          59.5000  54.98750
Italy                            82.18750          54.1875  56.15000
Jamaica                          74.29375         141.2500  45.42500
Jordan                           72.98750         114.3125  53.00000
Kazakhstan                       66.76250         232.0625  45.15625
Kenya                            57.48125         348.5625  15.56250
Kiribati                         65.15000         129.4375  69.43125
Latvia                           73.73125         161.8125  51.30625
Lebanon                          74.20000          65.3125  55.33750
Lesotho                          48.78125         550.0625  25.23750
Liberia                          57.52500         246.9375  19.98750
Lithuania                        72.80625         117.2500  49.23125
Luxembourg                       80.78125          67.5625  47.82500
Madagascar                       62.74375         228.8125  14.76875
Malawi                           49.89375         424.4375  16.78125
Malaysia                         73.75625         118.5625  29.16875
Maldives                         75.53750          83.1875  19.29375
Mali                             54.93750         202.1250  17.21250
Malta                            80.36250          60.7500  66.18125
Mauritania                       62.80000         159.9375  22.47500
Mauritius                        72.71250         163.5625  25.98125
Mexico                           75.71875         111.0625  51.41875
Mongolia                         65.88750         222.1250  39.79375
Montenegro                       74.50000          92.7500  50.48750
Morocco                          72.15625          95.1875  48.61875
Mozambique                       53.39375         226.2500  16.14375
Myanmar                          64.20000         154.3125  17.12500
Namibia                          60.40000         313.1875  28.22500
Nepal                            66.48125         147.2500  15.17500
Netherlands                      81.13125          61.6250  53.96875
Nicaragua                        73.45000         162.3750  42.68125
Niger                            56.98125         232.4375  16.36250
Nigeria                          51.35625         248.5000  19.75000
Pakistan                         64.50000         154.0000  18.31250
Panama                           76.48750         115.8750  49.31250
Papua New Guinea                 61.68125         266.5625  40.78750
Paraguay                         73.11250         139.9375  39.52500
Peru                             73.66250         122.4375  44.86875
Philippines                      67.57500         217.9375  19.18750
Poland                           75.65000         107.5625  53.73125
Portugal                         79.99375          58.8750  43.63125
Romania                          74.05000         156.0625  52.25000
Russian Federation               67.76250         224.5625  53.31875
Rwanda                           59.31250         246.8125  14.75000
Samoa                            73.61875         133.5625  62.90625
Sao Tome and Principe            65.16250         164.9375  20.85000
Senegal                          62.56875         174.1875  18.44375
Serbia                           73.95625         130.4375  52.13750
Seychelles                       72.37500         161.1875  28.40625
Sierra Leone                     46.11250         357.8125  18.30625
Solomon Islands                  67.71250         140.0625  39.17500
South Africa                     57.50000         412.7500  38.15000
Spain                            82.06875          63.6250  58.66875
Sri Lanka                        73.40000         144.3750  17.27500
Suriname                         70.08125         166.0000  50.15625
Swaziland                        51.32500         339.0000  25.50000
Sweden                           82.51875          59.1875  56.25000
Syrian Arab Republic             70.85000         139.6250  47.31250
Tajikistan                       66.65625         177.5625  33.11250
Thailand                         73.08125         160.3750  21.59375
Timor-Leste                      64.75625         170.3750  14.55000
Togo                             56.66250         311.3125  17.99375
Tonga                            72.53125         129.6250  62.94375
Trinidad and Tobago              71.06875         163.3750  37.73125
Tunisia                          74.35625          18.7500  48.25625
Turkey                           73.91250          98.3750  56.41250
Turkmenistan                     64.61875         214.8125  38.11875
Uganda                           55.70625         300.1875  15.52500
Ukraine                          69.93750         205.7500  50.89375
Uruguay                          76.07500         119.9375  52.92500
Uzbekistan                       68.03125         184.8125  34.80625
Vanuatu                          71.38750         137.8750  44.25625
Zambia                           53.90625         354.3125  17.45000
Zimbabwe                         50.48750         462.3750  25.13750

"\nz = 1\nwhile z == 1:\n  a = input('Say measures if you want to run based on specific measures say countries if you want to base on a specific country search: ')\n\n  # Will add country specific filter later\n\n\n  if a == 'countries':\n    countries = []\n    a = 1\n    #a = int(input('How many countries?: '))\n    while a > 0:\n      y = input('Which countries?: ')\n      #countries.append(y)\n      a -= 1\n    print(le.groupby(['Country']).get_group(y).mean()[custom_list].head(int(a)))\n    z -= 1\n  elif a == 'measures':\n    custom_list = []\n    count = 0\n    for i in column_names:\n      if count > 2:\n        custom_list.append(i)\n      count += 1\n    b = int(input('How many measures would you like to compare?: '))\n    measures = []\n    while b > 0:\n      print(custom_list)\n      d = input('Enter measure name (select from above): ')\n      measures.append(d)\n      b -= 1\n    print(le.groupby('Country').mean()[measures])\n    z -= 1\n  else:\n    print('Please try again')\n"

In [0]:
z = 1
while z == 1:
  a = input('If you would like to compare against measures with a 5 numerical summary, type measures: ')
  if a == 'measures':
    custom_list = []
    count = 0
    for i in column_names:
      if count > 2:
        custom_list.append(i)
      count += 1
    b = int(input('How many measures would you like to compare?: '))
    measures = []
    while b > 0:
      print(custom_list)
      d = input('Enter measure name (select from above): ')
      measures.append(d)
      b -= 1
    print(le.groupby('Year').describe()[measures])
    z -= 1
  else:
    print('What you typed does not make sense, displaying default output.')
    print(le.groupby('Year').describe())

If you would like to compare against measures with a 5 numerical summary, type measures: measures
How many measures would you like to compare?: 2
['Life expectancy', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness 1-19 years', 'thinness 5-9 years', 'Income composition of resources', 'Schooling']
Enter measure name (select from above): Life expectancy
['Life expectancy', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness 1-19 years', 'thinness 5-9 years', 'Income composition of resources', 'Schooling']
Enter measure name (select from above): Adult Mortality
     Life expectancy                                                     Adult Mortality
               count       mean        std   min   25%   50%   75%   max           count        mean         std  min   25%    50%    75%    max
Year
2000           133.0  65.469925  10.460090  39.0  57.7  68.3  72.9  79.6           133.0  191.240602  148.987144  2.0  84.0  167.0  247.0  665.0
2001           133.0  65.907519  10.323052  41.0  58.1  68.4  73.3  79.9           133.0  186.714286  150.740976  1.0  75.0  165.0  251.0  686.0
2002           133.0  66.097744  10.165781  44.0  58.5  69.2  73.5  80.0           133.0  182.616541  138.783280  3.0  74.0  163.0  256.0  699.0
2003           133.0  66.153383  10.321877  41.5  59.0  68.4  73.5  83.0           133.0  172.578947  144.272165  1.0  64.0  146.0  231.0  715.0
2004           133.0  66.435338  10.255096  42.3  59.1  68.7  73.2  89.0           133.0  198.781955  151.681651  7.0  86.0  165.0  269.0  723.0
2005           133.0  67.136090   9.984969  43.3  60.0  69.0  73.9  88.0           133.0  172.511278  142.530678  2.0  66.0  138.0  238.0  717.0
2006           133.0  67.636090   9.955045  44.3  61.1  69.4  74.2  88.0           133.0  180.751880  137.001571  1.0  78.0  153.0  249.0  654.0
2007           133.0  68.076692   9.814128  45.3  61.2  69.8  74.4  89.0           133.0  169.368421  130.591572  2.0  67.0  146.0  241.0  633.0
2008           133.0  68.436842   9.314777  46.2  61.7  70.0  74.5  89.0           133.0  183.857143  125.179456  1.0  97.0  161.0  259.0  632.0
2009           133.0  68.930075   8.945466  47.1  62.4  71.4  75.0  86.0           133.0  174.203008  119.532851  2.0  85.0  157.0  235.0  587.0
2010           133.0  69.051880   9.397748  36.3  62.3  72.4  75.0  88.0           133.0  172.624060  127.254910  2.0  76.0  147.0  248.0  682.0
2011           133.0  69.717293   8.981256  48.9  62.6  72.0  75.3  88.0           133.0  165.518797  112.572711  6.0  74.0  144.0  241.0  464.0
2012           133.0  69.977444   8.534330  49.7  63.4  71.9  75.6  88.0           133.0  157.887218  109.794757  2.0  71.0  143.0  232.0  513.0
2013           133.0  70.190977   8.305114  49.9  64.6  71.2  75.3  87.0           133.0  156.729323  109.066641  6.0  68.0  142.0  228.0  518.0
2014           133.0  70.427820   8.572448  48.1  64.4  71.7  75.8  89.0           133.0  162.135338  110.256023  2.0  76.0  147.0  225.0  522.0
2015           133.0  70.590226   7.969876  51.0  65.0  72.0  75.8  85.0           133.0  161.285714   99.874662  1.0  82.0  146.0  222.0  484.0

In [0]:
custom_list = []
count = 0
for i in column_names:
  if count > 2:
    custom_list.append(i)
  count += 1

# Finding the correlation values across a selection of variables
dfcomp = le[custom_list]
retscomp = round(dfcomp.pct_change(), 4)
corr = retscomp.corr()
print(corr)

                                 Life expectancy  Adult Mortality  infant deaths   Alcohol  percentage expenditure  Hepatitis B   Measles       BMI  under-five deaths     Polio  Total expenditure  Diphtheria  HIV/AIDS       GDP  Population  thinness 1-19 years  thinness 5-9 years  Income composition of resources  Schooling
Life expectancy                         1.000000        -0.012484      -0.041919  0.019859               -0.005680     0.021133 -0.029310  0.164715          -0.067685  0.160367           0.000858    0.103877 -0.207255  0.162000   -0.021400            -0.084341           -0.084203                         0.583187   0.624784
Adult Mortality                        -0.012484         1.000000      -0.001601  0.027601               -0.000178     0.066909 -0.012847 -0.022378          -0.003478 -0.027511          -0.019843    0.028558  0.038077 -0.006523   -0.012253             0.011950            0.015735                        -0.024371  -0.010813
infant deaths                          -0.041919        -0.001601       1.000000 -0.010858               -0.009155    -0.014885 -0.003018 -0.029463           0.981451 -0.019037          -0.013770   -0.004148  0.049826 -0.008888    0.008160             0.246687            0.232919                        -0.021059  -0.008447
Alcohol                                 0.019859         0.027601      -0.010858  1.000000                0.025081     0.020502 -0.001671  0.115778          -0.010307 -0.017436           0.046359    0.010642 -0.004673  0.124628   -0.011975            -0.012281           -0.017061                         0.068899   0.070527
percentage expenditure                 -0.005680        -0.000178      -0.009155  0.025081                1.000000    -0.006065 -0.002979 -0.008950          -0.009765 -0.008013          -0.001231   -0.007531 -0.008706  0.663630    0.054382            -0.004679           -0.004705                        -0.000332  -0.004908
Hepatitis B                             0.021133         0.066909      -0.014885  0.020502               -0.006065     1.000000 -0.015059  0.029706          -0.015850  0.141979           0.033319    0.303310 -0.014794 -0.004897   -0.007925             0.012132            0.013793                         0.007788   0.006937
Measles                                -0.029310        -0.012847      -0.003018 -0.001671               -0.002979    -0.015059  1.000000  0.012015          -0.003081 -0.012985          -0.019135   -0.011588  0.003908 -0.004457   -0.003648            -0.007668            0.003997                        -0.022117  -0.019227
BMI                                     0.164715        -0.022378      -0.029463  0.115778               -0.008950     0.029706  0.012015  1.000000          -0.031805  0.013998           0.021866   -0.006226 -0.031245  0.136853   -0.003659            -0.037571           -0.042996                         0.207487   0.178600
under-five deaths                      -0.067685        -0.003478       0.981451 -0.010307               -0.009765    -0.015850 -0.003081 -0.031805           1.000000 -0.019706          -0.011722   -0.002610  0.080525 -0.009984    0.011050             0.259964            0.244958                        -0.041709  -0.023685
Polio                                   0.160367        -0.027511      -0.019037 -0.017436               -0.008013     0.141979 -0.012985  0.013998          -0.019706  1.000000           0.022353    0.280225 -0.027338  0.001634   -0.015689            -0.009911           -0.008489                         0.078404   0.179112
Total expenditure                       0.000858        -0.019843      -0.013770  0.046359               -0.001231     0.033319 -0.019135  0.021866          -0.011722  0.022353           1.000000    0.036526  0.058057  0.030757   -0.020972            -0.017429           -0.020304                         0.044982   0.041814
Diphtheria                              0.103877         0.028558      -0.004148  0.010642               -0.007531     0.303310 -0.011588 -0.006226          -0.002610  0.280225           0.036526    1.000000 -0.028992  0.009523    0.009029             0.001253           -0.007726                         0.075112   0.168962
HIV/AIDS                               -0.207255         0.038077       0.049826 -0.004673               -0.008706    -0.014794  0.003908 -0.031245           0.080525 -0.027338           0.058057   -0.028992  1.000000 -0.012073    0.034700             0.138847            0.135816                        -0.112358  -0.051456
GDP                                     0.162000        -0.006523      -0.008888  0.124628                0.663630    -0.004897 -0.004457  0.136853          -0.009984  0.001634           0.030757    0.009523 -0.012073  1.000000    0.029101             0.011617            0.009729                         0.162214   0.160553
Population                             -0.021400        -0.012253       0.008160 -0.011975                0.054382    -0.007925 -0.003648 -0.003659           0.011050 -0.015689          -0.020972    0.009029  0.034700  0.029101    1.000000             0.001732            0.002202                        -0.005794  -0.004151
thinness 1-19 years                    -0.084341         0.011950       0.246687 -0.012281               -0.004679     0.012132 -0.007668 -0.037571           0.259964 -0.009911          -0.017429    0.001253  0.138847  0.011617    0.001732             1.000000            0.942874                        -0.053329  -0.052823
thinness 5-9 years                     -0.084203         0.015735       0.232919 -0.017061               -0.004705     0.013793  0.003997 -0.042996           0.244958 -0.008489          -0.020304   -0.007726  0.135816  0.009729    0.002202             0.942874            1.000000                        -0.052334  -0.051914
Income composition of resources         0.583187        -0.024371      -0.021059  0.068899               -0.000332     0.007788 -0.022117  0.207487          -0.041709  0.078404           0.044982    0.075112 -0.112358  0.162214   -0.005794            -0.053329           -0.052334                         1.000000   0.712271
Schooling                               0.624784        -0.010813      -0.008447  0.070527               -0.004908     0.006937 -0.019227  0.178600          -0.023685  0.179112           0.041814    0.168962 -0.051456  0.160553   -0.004151            -0.052823           -0.051914                         0.712271   1.000000

### Understanding through Simple Analysis Measures Relating to Socioeconomic Status

In [0]:
z = 1
while z == 1:
  a = input('Say measures if you want to run based on specific measures say countries if you want to base on the number of countries: ')

  # Will add country specific filter later


  if a == 'countries':
    a = input('How many countries?: ')
    print(se.groupby(['country']).mean()[custom_list_se].head(int(a)).sort())
    z -= 1
  elif a == 'measures':
    custom_list_se = []
    count = 0
    for i in column_names_se:
      if count > 3:
        custom_list_se.append(i)
      count += 1
    b = int(input('How many measures would you like to compare?: '))
    measures = []
    while b > 0:
      print(custom_list_se)
      d = input('Enter measure name (select from above): ')
      measures.append(d)
      b -= 1
    print(se.groupby(['country']).mean()[measures])
    z -= 1
  else:
    print('Please try again')

Say measures if you want to run based on specific measures say countries if you want to base on the number of countries: measures
How many measures would you like to compare?: 3
['SES', 'gdppc', 'yrseduc', 'popshare']
Enter measure name (select from above): SES
['SES', 'gdppc', 'yrseduc', 'popshare']
Enter measure name (select from above): gdppc
['SES', 'gdppc', 'yrseduc', 'popshare']
Enter measure name (select from above): yrseduc
                          SES         gdppc   yrseduc
country
Algeria             47.384224   3562.255479  2.160564
Angola              23.434315   1766.981699  0.631429
Argentina           79.777695   6627.260500  4.884279
Australia           93.911176  12958.913929  8.654336
Austria             84.350974  11973.879643  6.141579
Belgium             88.482692  12451.734571  6.938171
Benin               20.842572    975.214634  0.982836
Brazil              57.904678   3890.942857  2.847657
Bulgaria            74.700270   4120.145521  5.546557
Cameroon            35.813353   1142.735220  1.914086
Canada              93.334512  12779.423357  8.597807
Chile               77.376774   5721.680729  4.769779
Costa Rica          66.913588   3717.246329  3.840914
Cuba                67.536861   4222.216679  4.311757
Cte d'Ivoire       24.155861   1403.186806  1.149657
Denmark             89.719676  13541.049929  7.406493
Dominican Republic  58.936073   2623.941314  2.884164
Egypt               39.110254   2485.607959  1.748729
El Salvador         54.135769   2307.981093  2.734607
Ethiopia            11.461390    642.439788  0.520000
Finland             77.041214  10749.420214  4.306900
France              86.853151  11585.327786  6.937557
Germany             87.743238  11995.954000  7.111379
Ghana               47.650028   1265.825002  2.607157
Greece              77.511865   7535.905543  5.255307
Guatemala           50.951989   2706.432550  1.817879
Guyana              70.031281   2779.824700  4.746050
Honduras            52.272983   1740.467150  2.729557
Hungary             80.561823   5516.494000  6.161579
India               25.469778   1167.847230  1.460843
Indonesia           48.941803   2111.672471  2.165314
Iran                46.152367   4225.478839  2.050957
Iraq                37.553719   4095.847153  1.395329
Ireland             85.734347  10636.480479  7.080386
Italy               79.980416  10895.705857  4.796143
Jamaica             62.947732   2823.127119  4.687093
Japan               81.176579   9992.633714  6.626307
Kenya               41.350984   1070.726370  2.540071
Madagascar          32.492982    959.095363  1.560714
Malawi              27.767039    646.889288  1.739614
Malaysia            64.944422   4538.370167  3.339543
Mali                13.202980    819.030770  0.454143
Mexico              69.676667   4938.212929  3.492186
Morocco             32.522582   1949.288514  1.219921
Mozambique          19.546390    845.835715  0.576986
Myanmar             22.814664    914.878238  1.437836
Netherlands         90.039902  13466.255000  7.520850
New Zealand         93.429998  11445.204286  8.878150
Nicaragua           52.593267   1868.218979  2.493193
Niger               14.748300    720.661255  0.440029
Nigeria             33.561719   1395.385627  1.461429
Norway              88.848490  15613.873929  7.802214
Panama              68.370038   3925.656329  4.430843
Paraguay            62.271705   2525.780764  3.450514
Peru                65.537295   3068.860689  3.696629
Philippines         56.653940   1969.829607  3.444664
Portugal            68.730384   7213.134214  3.500500
Senegal             28.691312   1137.081799  1.543829
Sierra Leone        21.151354    863.569913  1.002629
South Africa        70.504288   4065.407107  3.947093
Spain               78.913246   8631.668714  5.366514
Sudan               18.772760   1104.633384  0.847850
Sweden              89.233766  12513.575929  7.731357
Switzerland         94.761597  17255.792714  8.304664
Syria               57.094757   3417.049074  2.191900
Thailand            45.400943   2940.687602  2.473064
Tunisia             39.379230   2638.367117  1.807264
Turkey              50.783842   4310.488531  2.149007
Uganda              32.059656    774.815221  1.738886
United Kingdom      88.598281  12045.910786  6.954521
United States       96.887154  15808.786571  9.304886
Uruguay             77.842987   5812.565186  4.614093
Venezuela           67.425180   6793.513000  3.047521
Zambia              39.405845   1131.670749  2.478036

In [0]:
z = 1
while z == 1:
  a = input('If you would like to compare against measures with a 5 numerical summary, type measures: ')
  if a == 'measures':
    custom_list_se = []
    count = 0
    for i in column_names_se:
      if count > 3:
        custom_list_se.append(i)
      count += 1
    b = int(input('How many measures would you like to compare?: '))
    measures = []
    while b > 0:
      print(custom_list_se)
      d = input('Enter measure name (select from above): ')
      measures.append(d)
      b -= 1
    print(se.groupby('year').describe()[measures])
    z -= 1
  else:
    print('What you typed does not make sense, displaying default output.')
    print(se.groupby('year').describe())

If you would like to compare against measures with a 5 numerical summary, type measures: measures
How many measures would you like to compare?: 2
['SES', 'gdppc', 'yrseduc', 'popshare']
Enter measure name (select from above): gdppc
['SES', 'gdppc', 'yrseduc', 'popshare']
Enter measure name (select from above): yrseduc
     gdppc                                                                                           yrseduc
     count          mean           std        min          25%           50%          75%        max   count      mean       std     min       25%      50%        75%      max
year
1880  74.0   1128.588574    877.259739  518.53491   547.387027    693.569765   1519.25000   4285.000    74.0  1.613243  1.808741  0.0400  0.270000  0.93500   1.935000   6.5900
1890  74.0   1258.559381    971.718541  567.33331   587.517440    747.806180   1656.25000   4458.000    74.0  1.840811  1.998283  0.0400  0.317500  1.01500   2.335000   6.9100
1900  74.0   1407.747778   1091.597078  585.93024   617.139543    808.100585   1785.75000   4492.000    74.0  2.059459  2.175280  0.0400  0.420000  1.10500   2.742500   7.3000
1910  74.0   1640.272121   1320.801351  598.79999   645.769240    978.000000   2139.50000   5316.000    74.0  2.280270  2.350614  0.0400  0.552500  1.34000   3.307500   7.6200
1920  74.0   1719.426769   1287.308139  635.00000   715.789990   1227.500000   2353.25000   5641.000    74.0  2.509865  2.504410  0.0400  0.607500  1.51500   3.702500   8.0400
1930  74.0   2103.580100   1591.472461  726.00000   811.380022   1534.000000   2887.50000   6246.000    74.0  2.737973  2.599112  0.0400  0.675000  1.74000   4.030000   8.3900
1940  74.0   2293.196611   1765.898169  682.66669   815.875000   1536.702700   3232.00000   7010.000    74.0  3.024459  2.704122  0.0400  0.840000  1.92000   4.710000   8.6900
1950  74.0   2644.027027   2353.329905  324.00000  1043.750000   1661.500000   3628.00000   9561.000    74.0  3.331216  2.789209  0.0800  1.037500  2.46000   5.185000   9.3500
1960  74.0   3457.081081   3030.730916  394.00000  1253.750000   2291.000000   4790.50000  12457.000    74.0  3.519570  2.712718  0.1100  1.084250  2.97965   5.196900  10.0201
1970  74.0   4803.094595   4258.232070  447.00000  1465.250000   3275.500000   7056.25000  16904.000    74.0  4.218282  2.869720  0.2300  1.620375  3.85315   6.077400  11.2098
1980  74.0   6053.310811   5345.134874  572.00000  1446.250000   4013.500000   9145.00000  18779.000    74.0  4.707381  2.965289  0.4468  2.108575  4.59365   6.646875  11.9239
1990  74.0  12512.126997  12226.057481  375.01495  3022.542000   7595.367200  21759.26850  47768.352    74.0  6.119427  2.889738  0.9010  4.270425  6.04275   8.208975  12.2308
2000  74.0  15326.942959  15102.483446  555.55988  3102.005425   9472.929200  27711.34625  58066.586    74.0  7.029642  2.903434  1.0500  4.772200  7.08840   9.081950  12.7056
2010  74.0  17791.514733  16131.537916  820.65167  4353.750375  12786.223000  31322.67525  62268.012    74.0  7.902723  2.897683  1.7548  5.488725  8.41215  10.036000  13.0971

In [0]:
custom_list_se = []
count = 0
for i in column_names_se:
  if count > 3:
    custom_list_se.append(i)
  count += 1

# Finding the correlation values across a selection of variables
dfcomp = se[custom_list_se]
retscomp = round(dfcomp.pct_change(), 4)
corr = retscomp.corr()
print(corr)

               SES     gdppc   yrseduc  popshare
SES       1.000000  0.000900 -0.011925 -0.005158
gdppc     0.000900  1.000000  0.511157  0.055918
yrseduc  -0.011925  0.511157  1.000000  0.047354
popshare -0.005158  0.055918  0.047354  1.000000

### Understanding through Simple Analysis Measures Relating to Economic Freedom

In [0]:
z = 1
while z == 1:
  a = input('Say measures if you want to run based on specific measures say countries if you want to base on the number of countries: ')

  # Will add country specific filter later


  if a == 'countries':
    a = input('How many countries?: ')
    print(ef.groupby(['countries']).mean()[custom_list_ef].head(int(a)))
    z -= 1
  elif a == 'measures':
    custom_list_ef = []
    count = 0
    for i in column_names_ef:
      if count > 5:
        custom_list_ef.append(i)
      count += 1
    b = int(input('How many measures would you like to compare?: '))
    measures = []
    while b > 0:
      print(custom_list_ef)
      d = input('Enter measure name (select from above): ')
      measures.append(d)
      b -= 1
    print(ef.groupby(['countries']).mean()[measures])
    z -= 1
  else:
    print('Please try again')

Say measures if you want to run based on specific measures say countries if you want to base on the number of countries: measures
How many measures would you like to compare?: 3
['1a_government_consumption', '1b_transfers', '1c_gov_enterprises', '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence', '2b_impartial_courts', '2c_protection_property_rights', '2d_military_interference', '2e_integrity_legal_system', '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property', '2h_reliability_police', '2i_business_costs_crime', '2j_gender_adjustment', '2_property_rights', '3a_money_growth', '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency', '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers', '4c_black_market', '4d_control_movement_capital_ppl', '4_trade', '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg', '5_regulation']
Enter measure name (select from above): 1_size_government
['1a_government_consumption', '1b_transfers', '1c_gov_enterprises', '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence', '2b_impartial_courts', '2c_protection_property_rights', '2d_military_interference', '2e_integrity_legal_system', '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property', '2h_reliability_police', '2i_business_costs_crime', '2j_gender_adjustment', '2_property_rights', '3a_money_growth', '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency', '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers', '4c_black_market', '4d_control_movement_capital_ppl', '4_trade', '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg', '5_regulation']
Enter measure name (select from above): 2a_judicial_independence
['1a_government_consumption', '1b_transfers', '1c_gov_enterprises', '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence', '2b_impartial_courts', '2c_protection_property_rights', '2d_military_interference', '2e_integrity_legal_system', '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property', '2h_reliability_police', '2i_business_costs_crime', '2j_gender_adjustment', '2_property_rights', '3a_money_growth', '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency', '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers', '4c_black_market', '4d_control_movement_capital_ppl', '4_trade', '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg', '5_regulation']
Enter measure name (select from above): 4b_regulatory_trade_barriers
                   1_size_government  2a_judicial_independence  4b_regulatory_trade_barriers
countries
Albania                     7.751388                  2.712664                      6.559399
Algeria                     4.358645                  3.519772                      5.649563
Angola                      5.043076                  2.407720                      3.458645
Argentina                   6.449589                  2.329104                      5.532170
Armenia                     7.927462                  2.884599                      6.409208
Australia                   6.111176                  8.760258                      8.043035
Austria                     4.687549                  7.855462                      8.350607
Azerbaijan                  4.966952                  3.882030                      4.667444
Bahrain                     6.639570                  6.055242                      7.852089
Bangladesh                  7.983630                  3.111533                      5.275676
Barbados                    5.795428                  6.790882                      5.916488
Belgium                     4.158546                  7.224045                      8.329220
Benin                       5.881891                  3.980433                      5.313175
Bolivia                     6.524004                  2.235073                      5.208483
Botswana                    5.172455                  7.064708                      6.329946
Brazil                      6.083130                  4.540710                      5.965477
Bulgaria                    6.119853                  3.053257                      6.448015
Burkina Faso                5.179248                  2.496714                      4.602731
Burundi                     5.089417                  1.362965                      3.135832
Cameroon                    6.698171                  2.716719                      4.862462
Canada                      5.966853                  8.577170                      7.790236
Central Afr. Rep.           5.714010                  5.228082                      1.904751
Chad                        6.821722                  1.823290                      2.503384
Chile                       7.028850                  6.307045                      7.827048
China                       4.419976                  4.664185                      6.240342
Colombia                    6.719349                  3.763500                      5.846358
Congo, Dem. R.              6.273104                  2.351897                      2.191198
Costa Rica                  7.402987                  6.615573                      6.329162
Cote d'Ivoire               6.234299                  2.372745                      5.246387
Croatia                     4.708950                  3.373416                      6.990110
Cyprus                      6.938663                  6.810543                      8.075193
Czech Rep.                  4.923801                  5.239744                      7.619390
Denmark                     3.826199                  8.960904                      8.490995
Dominican Rep.              7.667909                  3.143628                      6.453610
Ecuador                     6.887900                  1.755688                      4.984583
Egypt                       5.636183                  5.197853                      5.618237
El Salvador                 8.353329                  3.517019                      6.924560
Estonia                     6.068582                  7.376946                      8.489598
Ethiopia                    6.311082                  3.433376                      3.987950
Finland                     4.559313                  9.220591                      8.766545
France                      4.198671                  6.592889                      7.855400
Gabon                       5.661334                  3.185506                      6.349872
Gambia, The                 7.327877                  4.784320                      6.304128
Germany                     5.188941                  8.723790                      8.128510
Ghana                       6.360770                  5.460879                      6.200205
Greece                      5.514759                  5.012020                      7.372742
Guatemala                   8.458834                  3.215882                      6.369600
Haiti                       8.005205                  1.366142                      4.971948
Honduras                    8.022705                  3.159692                      6.153099
Hong Kong                   9.117601                  8.297381                      8.981641
Hungary                     4.673343                  5.259361                      7.586305
Iceland                     5.844455                  8.133741                      7.135838
India                       6.653917                  6.473507                      6.132024
Indonesia                   7.355758                  4.122830                      6.036151
Iran                        6.223236                  4.432192                      4.987255
Ireland                     5.632249                  8.635868                      8.340341
Israel                      5.137498                  8.349501                      7.602683
Italy                       5.170313                  4.617917                      7.298066
Jamaica                     7.482809                  5.738992                      6.451346
Japan                       5.731208                  7.798129                      6.944246
Jordan                      6.196172                  6.294695                      6.619001
Kazakhstan                  7.740871                  3.643544                      3.251711
Kenya                       6.887095                  3.672867                      5.516489
Korea, South                6.672408                  5.027441                      7.264108
Kuwait                      5.741772                  6.569271                      6.458067
Latvia                      6.440815                  4.668418                      7.521525
Lebanon                     8.700447                  2.524431                      5.563123
Liberia                     8.406422                  4.657967                      2.135174
Lithuania                   6.564435                  4.297537                      7.402917
Luxembourg                  4.792184                  8.144652                      8.718399
Madagascar                  7.193943                  2.590927                      5.495976
Malawi                      6.172007                  5.809381                      4.990163
Malaysia                    6.020071                  6.125704                      7.181149
Mali                        6.750273                  3.912251                      5.078162
Malta                       5.592642                  6.708002                      7.771913
Mauritius                   7.321897                  6.306803                      7.196211
Mexico                      7.048687                  3.776770                      7.051863
Moldova                     6.759009                  2.097193                      5.935439
Mongolia                    7.716505                  2.788843                      4.264622
Morocco                     6.116989                  4.234854                      6.395981
Mozambique                  5.711772                  2.805594                      5.666949
Namibia                     5.597268                  6.862994                      6.227874
Netherlands                 4.093433                  8.936028                      8.416930
New Zealand                 5.937436                  9.293014                      8.732735
Nicaragua                   7.312177                  1.311086                      5.399862
Nigeria                     6.434934                  4.216033                      4.711573
Norway                      4.362897                  8.718232                      7.527697
Oman                        4.932547                  6.724575                      7.015035
Pakistan                    7.288397                  4.097130                      6.030087
Panama                      7.151784                  2.545282                      7.224198
Pap. New Guinea             6.386041                  4.660169                      5.970640
Paraguay                    8.029357                  1.224546                      5.518930
Peru                        7.407531                  2.459399                      6.588174
Philippines                 8.015254                  3.776078                      6.328138
Poland                      5.119562                  4.878314                      6.769725
Portugal                    5.114594                  6.707832                      8.113620
Romania                     7.003662                  3.581643                      6.838330
Russia                      5.912512                  2.924056                      5.138782
Rwanda                      6.215036                  7.029871                      4.397147
Senegal                     6.343214                  3.494508                      6.165883
Serbia                      6.438064                  2.701589                      6.912290
Sierra Leone                6.989403                  3.035310                      5.449930
Singapore                   7.988378                  7.553357                      9.018481
Slovak Rep                  5.812954                  3.604530                      7.452972
Slovenia                    4.608228                  5.017893                      7.512441
South Africa                6.398508                  7.218059                      6.265452
Spain                       5.914029                  5.017752                      7.842762
Sri Lanka                   7.245921                  5.019698                      6.112069
Suriname                    5.988401                  4.724486                      6.656657
Sweden                      3.227245                  8.520584                      8.750125
Switzerland                 7.394318                  8.755234                      7.397421
Syria                       5.229918                  3.673918                      5.679787
Taiwan                      6.480629                  5.709590                      7.539643
Tanzania                    5.879005                  4.610875                      5.536134
Thailand                    7.018596                  5.520360                      6.707642
Trinidad & Tob.             5.839532                  5.686494                      6.861641
Tunisia                     5.721628                  6.051273                      6.716728
Turkey                      6.627086                  4.277552                      7.025367
Uganda                      7.402309                  4.106610                      5.058612
Ukraine                     6.196858                  2.365027                      4.893334
Unit. Arab Em.              6.860605                  6.951569                      8.550735
United Kingdom              5.617554                  8.659852                      8.236733
United States               6.582181                  7.159482                      8.018449
Uruguay                     7.107623                  7.068280                      6.468927
Venezuela                   5.499819                  0.640392                      3.247079
Yemen, Rep.                 7.310210                  2.327097                      5.399074
Zambia                      6.152783                  4.632379                      4.448807
Zimbabwe                    6.275854                  2.546880                      3.780634

In [0]:
z = 1
while z == 1:
  a = input('If you would like to compare against measures with a 5 numerical summary, type measures: ')
  if a == 'measures':
    custom_list_ef = []
    count = 0
    for i in column_names_ef:
      if count > 5:
        custom_list_ef.append(i)
      count += 1
    b = int(input('How many measures would you like to compare?: '))
    measures = []
    while b > 0:
      print(custom_list_ef)
      d = input('Enter measure name (select from above): ')
      measures.append(d)
      b -= 1
    print(ef.groupby('year').describe()[measures])
    z -= 1
  else:
    print('What you typed does not make sense, displaying default output.')
    print(ef.groupby('year').describe())

If you would like to compare against measures with a 5 numerical summary, type measures: measures
How many measures would you like to compare?: 2
['1a_government_consumption', '1b_transfers', '1c_gov_enterprises', '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence', '2b_impartial_courts', '2c_protection_property_rights', '2d_military_interference', '2e_integrity_legal_system', '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property', '2h_reliability_police', '2i_business_costs_crime', '2j_gender_adjustment', '2_property_rights', '3a_money_growth', '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency', '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers', '4c_black_market', '4d_control_movement_capital_ppl', '4_trade', '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg', '5_regulation']
Enter measure name (select from above): 2a_judicial_independence
['1a_government_consumption', '1b_transfers', '1c_gov_enterprises', '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence', '2b_impartial_courts', '2c_protection_property_rights', '2d_military_interference', '2e_integrity_legal_system', '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property', '2h_reliability_police', '2i_business_costs_crime', '2j_gender_adjustment', '2_property_rights', '3a_money_growth', '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency', '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers', '4c_black_market', '4d_control_movement_capital_ppl', '4_trade', '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg', '5_regulation']
Enter measure name (select from above): 4b_regulatory_trade_barriers
     2a_judicial_independence                                                                       4b_regulatory_trade_barriers
                        count      mean       std       min       25%       50%       75%       max                        count      mean       std       min       25%       50%       75%       max
year
1970                    128.0  4.941113  2.220441  0.470073  3.188762  4.630257  6.764835  9.465001                        128.0  6.371205  1.516895  1.765549  5.572832  6.490793  7.394171  9.097557
1975                    128.0  4.941113  2.220441  0.470073  3.188762  4.630257  6.764835  9.465001                        128.0  6.371205  1.516895  1.765549  5.572832  6.490793  7.394171  9.097557
1980                    128.0  4.941113  2.220441  0.470073  3.188762  4.630257  6.764835  9.465001                        128.0  6.371205  1.516895  1.765549  5.572832  6.490793  7.394171  9.097557
1985                    128.0  4.941113  2.220441  0.470073  3.188762  4.630257  6.764835  9.465001                        128.0  6.371205  1.516895  1.765549  5.572832  6.490793  7.394171  9.097557
1990                    128.0  4.941113  2.220441  0.470073  3.188762  4.630257  6.764835  9.465001                        128.0  6.371205  1.516895  1.765549  5.572832  6.490793  7.394171  9.097557
1995                    128.0  5.184472  2.298492  1.177513  3.339872  4.964844  6.753205  9.816667                        128.0  6.165704  1.595502  1.765549  5.297226  6.318482  7.175000  9.300000
2000                    128.0  5.108949  2.262971  1.177513  3.307487  4.740023  6.913033  9.686000                        128.0  6.838547  1.700364  1.765549  5.810527  6.804744  8.321577  9.833333
2001                    128.0  4.808252  2.288287  0.460993  2.968701  4.587146  6.643385  9.345238                        128.0  6.751827  1.640542  1.765549  5.762980  6.719708  8.070833  9.833333
2002                    128.0  4.756628  2.294722  0.166667  2.958333  4.664442  6.582724  9.333333                        128.0  6.644757  1.658278  1.765549  5.744529  6.583333  7.916667  9.833333
2003                    128.0  4.812047  2.288728  0.166667  2.958333  4.500000  6.666667  9.333333                        128.0  6.592674  1.628094  1.765549  5.583333  6.666667  7.666667  9.416667
2004                    128.0  4.591353  2.254398  0.166667  2.620855  4.449422  6.677489  8.787879                        128.0  5.944813  1.819872  0.000000  4.928686  5.991718  7.365896  9.148396
2005                    128.0  4.846534  2.300708  0.307692  2.998543  4.532189  6.899342  9.183007                        128.0  6.095892  1.717187  0.134019  5.096013  6.203956  7.272688  9.080828
2006                    128.0  4.965256  2.262676  0.313512  3.079603  4.660521  6.947775  9.210717                        128.0  6.259521  1.660853  1.264244  5.492304  6.443433  7.364365  9.122712
2007                    128.0  5.089780  2.258420  0.628486  3.448438  4.694873  6.999902  9.385968                        128.0  6.408924  1.621049  1.264244  5.595567  6.626217  7.479458  9.390275
2008                    128.0  5.034667  2.222678  0.743840  3.292939  4.691405  6.737927  9.563554                        128.0  6.406903  1.599666  1.315804  5.777802  6.684596  7.373706  9.268836
2009                    128.0  4.942230  2.220049  1.153850  3.125445  4.649245  6.644611  9.596643                        128.0  6.454081  1.536464  1.765549  5.655806  6.687953  7.434680  9.118545
2010                    128.0  4.909623  2.265537  1.081706  2.926143  4.612427  6.665570  9.553203                        128.0  6.446207  1.478551  1.765549  5.782781  6.670717  7.356682  8.995707
2011                    128.0  4.869307  2.249924  0.454035  2.909699  4.604261  6.713063  9.484536                        128.0  6.344539  1.448206  1.765549  5.584309  6.595728  7.305826  8.831987
2012                    128.0  4.811048  2.189084  0.188727  3.084651  4.520199  6.610769  9.463799                        128.0  6.345074  1.320893  1.766481  5.760236  6.578251  7.265304  8.712742
2013                    128.0  4.850115  2.265689  0.000000  3.163848  4.477041  6.643940  9.582745                        128.0  6.381015  1.263858  1.807743  5.931518  6.612197  7.218749  8.443840
2014                    128.0  5.023386  2.160968  0.212811  3.319047  4.719292  6.617413  9.472556                        128.0  6.003047  2.167693  0.000000  4.367903  6.181416  7.928795  9.227312
2015                    128.0  5.076021  2.178253  0.188571  3.487006  4.783114  6.501272  9.571012                        128.0  5.899041  1.934144  1.566369  4.418893  6.145071  7.646683  8.674181
2016                    128.0  5.057177  2.186030  0.216767  3.408480  4.674587  6.541874  9.697464                        128.0  5.982293  1.919820  1.964154  4.580227  6.142230  7.703700  8.836085

In [0]:
custom_list_ef = []
count = 0
for i in column_names_ef:
  if count > 3:
    custom_list_ef.append(i)
  count += 1

# Finding the correlation values across a selection of variables
dfcomp = ef[custom_list_ef]
retscomp = round(dfcomp.pct_change(), 4)
corr = retscomp.corr()
print(corr)

                                        rank  quartile  1a_government_consumption  1b_transfers  1c_gov_enterprises  1d_top_marg_tax_rate  1_size_government  2a_judicial_independence  2b_impartial_courts  2c_protection_property_rights  2d_military_interference  2e_integrity_legal_system  2f_legal_enforcement_contracts  2g_restrictions_sale_real_property  2h_reliability_police  2i_business_costs_crime  2j_gender_adjustment  2_property_rights  3a_money_growth  3b_std_inflation  3c_inflation  3d_freedom_own_foreign_currency  3_sound_money  4a_tariffs  4b_regulatory_trade_barriers  4c_black_market  4d_control_movement_capital_ppl   4_trade  5a_credit_market_reg  5b_labor_market_reg  5c_business_reg  5_regulation
rank                                1.000000  0.487494                  -0.004404      0.058058           -0.192191             -0.051692          -0.144543                 -0.173594            -0.284112                      -0.195731                 -0.150173                  -0.151534                       -0.127070                           -0.122194              -0.263554                -0.151300             -0.118906          -0.248457        -0.023917         -0.067602     -0.061697                        -0.181324      -0.038774   -0.065604                     -0.111914        -0.038372                        -0.163367 -0.074586             -0.110369            -0.137642        -0.293893     -0.284954
quartile                            0.487494  1.000000                   0.054364      0.320980           -0.369109             -0.030998          -0.072952                 -0.286100            -0.425112                      -0.374883                 -0.347561                  -0.324105                       -0.245953                           -0.243887              -0.466875                -0.276073             -0.228154          -0.513284        -0.060108         -0.146085     -0.139204                        -0.510626      -0.094531   -0.130999                     -0.227551        -0.070425                        -0.363425 -0.154666             -0.211153            -0.094786        -0.511146     -0.474441
1a_government_consumption          -0.004404  0.054364                   1.000000      0.078290           -0.071814              0.073048           0.196071                 -0.064984            -0.096671                      -0.061627                 -0.082950                  -0.070051                       -0.037859                           -0.037892              -0.094865                -0.073041              0.014269          -0.085127        -0.001865          0.015007     -0.019772                        -0.063513      -0.009225   -0.029879                     -0.034220        -0.017790                        -0.026400 -0.029487             -0.019633            -0.044404        -0.076366     -0.059376
1b_transfers                        0.058058  0.320980                   0.078290      1.000000           -0.223623              0.245771           0.457318                 -0.101686            -0.089285                      -0.127283                 -0.280422                  -0.285682                       -0.180851                           -0.129752              -0.216192                -0.244018             -0.204892          -0.316427         0.000316         -0.099871     -0.046610                        -0.196081      -0.038166   -0.072619                     -0.129696        -0.015979                        -0.163568 -0.067411             -0.009552             0.164371        -0.131567     -0.018772
1c_gov_enterprises                 -0.192191 -0.369109                  -0.071814     -0.223623            1.000000             -0.057435           0.249120                  0.098807             0.127257                       0.175825                  0.270862                   0.201038                        0.153619                            0.202340               0.201656                 0.090755              0.229145           0.328133         0.029432          0.061949      0.087842                         0.236184       0.092016    0.156143                      0.170436         0.019812                         0.244732  0.143236              0.158744            -0.041723         0.211923      0.241700
1d_top_marg_tax_rate               -0.051692 -0.030998                   0.073048      0.245771           -0.057435              1.000000           0.365181                  0.039755             0.015753                       0.032234                 -0.051245                   0.012617                        0.172861                            0.050603               0.005921                -0.054999              0.034876           0.092067        -0.000357         -0.008287     -0.009476                         0.039621       0.022916    0.017305                      0.027559         0.003196                         0.068716 -0.000808              0.035584             0.093682         0.092370      0.126960
1_size_government                  -0.144543 -0.072952                   0.196071      0.457318            0.249120              0.365181           1.000000                 -0.066262            -0.094467                      -0.023870                 -0.127474                  -0.145297                       -0.047195                           -0.005561              -0.144592                -0.160914              0.032819          -0.100063         0.028255         -0.018187     -0.003159                         0.063270       0.015904   -0.001305                     -0.035342         0.032387                         0.037137  0.014735              0.129372             0.128923        -0.021647      0.188352
2a_judicial_independence           -0.173594 -0.286100                  -0.064984     -0.101686            0.098807              0.039755          -0.066262                  1.000000             0.711989                       0.436194                  0.426189                   0.233023                        0.198078                            0.133532               0.531108                 0.271682              0.030326           0.395768         0.045729          0.045027      0.120532                         0.164296       0.055028    0.018911                      0.176979         0.015571                         0.162793  0.063981              0.071236             0.241636         0.516197      0.328690
2b_impartial_courts                -0.284112 -0.425112                  -0.096671     -0.089285            0.127257              0.015753          -0.094467                  0.711989             1.000000                       0.500003                  0.376611                   0.324149                        0.255340                            0.187129               0.681548                 0.365325              0.039807           0.528674         0.040082          0.081528      0.129460                         0.189713       0.071252    0.030904                      0.209891         0.037735                         0.214905  0.081938              0.099818             0.228026         0.688836      0.400384
2c_protection_property_rights      -0.195731 -0.374883                  -0.061627     -0.127283            0.175825              0.032234          -0.023870                  0.436194             0.500003                       1.000000                  0.271030                   0.314236                        0.167355                            0.147913               0.483916                 0.306368              0.052841           0.621809         0.047465          0.101238      0.120282                         0.236123       0.077215    0.099798                      0.151421         0.015122                         0.206699  0.127556              0.133113             0.117453         0.491220      0.348368
2d_military_interference           -0.150173 -0.347561                  -0.082950     -0.280422            0.270862             -0.051245          -0.127474                  0.426189             0.376611                       0.271030                  1.000000                   0.293148                        0.213462                            0.232535               0.397519                 0.214462              0.117237           0.461414         0.021243          0.038963      0.093563                         0.258456       0.056264    0.123551                      0.205505         0.027708                         0.278574  0.103747              0.109859             0.133690         0.379358      0.276896
2e_integrity_legal_system          -0.151534 -0.324105                  -0.070051     -0.285682            0.201038              0.012617          -0.145297                  0.233023             0.324149                       0.314236                  0.293148                   1.000000                        0.286350                            0.192274               0.401365                 0.400944              0.162484           0.622356         0.012842          0.074483      0.067673                         0.197897       0.038222    0.057510                      0.387095         0.070372                         0.220579  0.129809              0.101824             0.029401         0.344957      0.221390
2f_legal_enforcement_contracts     -0.127070 -0.245953                  -0.037859     -0.180851            0.153619              0.172861          -0.047195                  0.198078             0.255340                       0.167355                  0.213462                   0.286350                        1.000000                            0.314027               0.380517                 0.206413              0.183542           0.407643         0.008174          0.035846      0.011338                         0.273145       0.077733    0.030827                      0.221919         0.012542                         0.284289  0.064784              0.109511            -0.031871         0.337608      0.190936
2g_restrictions_sale_real_property -0.122194 -0.243887                  -0.037892     -0.129752            0.202340              0.050603          -0.005561                  0.133532             0.187129                       0.147913                  0.232535                   0.192274                        0.314027                            1.000000               0.243422                 0.146370              0.118623           0.392326         0.017017          0.028535      0.028704                         0.200342       0.044250    0.093928                      0.119661         0.014827                         0.149270  0.066472              0.111580             0.031658         0.300251      0.242404
2h_reliability_police              -0.263554 -0.466875                  -0.094865     -0.216192            0.201656              0.005921          -0.144592                  0.531108             0.681548                       0.483916                  0.397519                   0.401365                        0.380517                            0.243422               1.000000                 0.611177              0.015474           0.555458         0.033645          0.108979      0.108435                         0.254404       0.077434    0.095761                      0.225365         0.058654                         0.255088  0.135309              0.150016             0.124356         0.671067      0.407432
2i_business_costs_crime            -0.151300 -0.276073                  -0.073041     -0.244018            0.090755             -0.054999          -0.160914                  0.271682             0.365325                       0.306368                  0.214462                   0.400944                        0.206413                            0.146370               0.611177                 1.000000             -0.011309           0.375315         0.012700          0.047617      0.093494                         0.197473       0.047538    0.051775                      0.106597         0.049539                         0.103273  0.066360              0.047966             0.058105         0.371931      0.203412
2j_gender_adjustment               -0.118906 -0.228154                   0.014269     -0.204892            0.229145              0.034876           0.032819                  0.030326             0.039807                       0.052841                  0.117237                   0.162484                        0.183542                            0.118623               0.015474                -0.011309              1.000000           0.366791        -0.016202          0.029545      0.010149                         0.057915       0.023719    0.043079                      0.058801         0.066575                         0.279647  0.065598              0.086164            -0.019151         0.102856      0.153938
2_property_rights                  -0.248457 -0.513284                  -0.085127     -0.316427            0.328133              0.092067          -0.100063                  0.395768             0.528674                       0.621809                  0.461414                   0.622356                        0.407643                            0.392326               0.555458                 0.375315              0.366791           1.000000         0.016929          0.097093      0.137130                         0.258316       0.066301    0.115408                      0.236143         0.055287                         0.414106  0.164378              0.186770             0.114238         0.546330      0.437816
3a_money_growth                    -0.023917 -0.060108                  -0.001865      0.000316            0.029432             -0.000357           0.028255                  0.045729             0.040082                       0.047465                  0.021243                   0.012842                        0.008174                            0.017017               0.033645                 0.012700             -0.016202           0.016929         1.000000          0.150311      0.038133                         0.062523       0.371582    0.002631                      0.008646         0.010331                         0.008638  0.020768              0.034345             0.042704         0.034591      0.084428
3b_std_inflation                   -0.067602 -0.146085                   0.015007     -0.099871            0.061949             -0.008287          -0.018187                  0.045027             0.081528                       0.101238                  0.038963                   0.074483                        0.035846                            0.028535               0.108979                 0.047617              0.029545           0.097093         0.150311          1.000000      0.118464                         0.001069       0.459373    0.016172                      0.039927         0.051259                         0.068823  0.037651              0.072756            -0.049420         0.100162      0.096692
3c_inflation                       -0.061697 -0.139204                  -0.019772     -0.046610            0.087842             -0.009476          -0.003159                  0.120532             0.129460                       0.120282                  0.093563                   0.067673                        0.011338                            0.028704               0.108435                 0.093494              0.010149           0.137130         0.038133          0.118464      1.000000                         0.089457       0.339517    0.020383                      0.057833         0.052599                         0.088919  0.041755              0.092702             0.035241         0.118277      0.150694
3d_freedom_own_foreign_currency    -0.181324 -0.510626                  -0.063513     -0.196081            0.236184              0.039621           0.063270                  0.164296             0.189713                       0.236123                  0.258456                   0.197897                        0.273145                            0.200342               0.254404                 0.197473              0.057915           0.258316         0.062523          0.001069      0.089457                         1.000000       0.411255    0.233190                      0.073480         0.104287                         0.213453  0.258798              0.070652             0.128794         0.370429      0.330817
3_sound_money                      -0.038774 -0.094531                  -0.009225     -0.038166            0.092016              0.022916           0.015904                  0.055028             0.071252                       0.077215                  0.056264                   0.038222                        0.077733                            0.044250               0.077434                 0.047538              0.023719           0.066301         0.371582          0.459373      0.339517                         0.411255       1.000000    0.022424                      0.034003         0.122323                         0.202629  0.064340              0.083348             0.004765         0.088196      0.105773
4a_tariffs                         -0.065604 -0.130999                  -0.029879     -0.072619            0.156143              0.017305          -0.001305                  0.018911             0.030904                       0.099798                  0.123551                   0.057510                        0.030827                            0.093928               0.095761                 0.051775              0.043079           0.115408         0.002631          0.016172      0.020383                         0.233190       0.022424    1.000000                      0.031880         0.008232                         0.104298  0.414544              0.056598            -0.004816         0.073899      0.094173
4b_regulatory_trade_barriers       -0.111914 -0.227551                  -0.034220     -0.129696            0.170436              0.027559          -0.035342                  0.176979             0.209891                       0.151421                  0.205505                   0.387095                        0.221919                            0.119661               0.225365                 0.106597              0.058801           0.236143         0.008646          0.039927      0.057833                         0.073480       0.034003    0.031880                      1.000000         0.024545                         0.183450  0.061561              0.074480             0.008091         0.250209      0.162438
4c_black_market                    -0.038372 -0.070425                  -0.017790     -0.015979            0.019812              0.003196           0.032387                  0.015571             0.037735                       0.015122                  0.027708                   0.070372                        0.012542                            0.014827               0.058654                 0.049539              0.066575           0.055287         0.010331          0.051259      0.052599                         0.104287       0.122323    0.008232                      0.024545         1.000000                         0.091154  0.284712              0.066106            -0.041968         0.021941      0.038742